@import "compass/css3/border-radius";

body {
  font-size: 14px;
  color: gray;
}

.demo{
  @include border-radius(10px);
  width: 200px;
  height: 100px;
  background-color: #9cf;
  color: black;
  padding: 10px;
}